---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
      <img class="profile {{ page.profile.align }}"  width="33.33%" src="https://scontent-sin6-2.xx.fbcdn.net/v/t39.30808-6/281374093_1332253000606989_8276405618289455097_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFRwXUgCTDEJvnblNl9yn3y8Bm5G6MSZF_wGbkboxJkX48sZAUxZo9dVmOzB_j0ML4vtOXZPfJOnK7cHdpYEVsX&_nc_ohc=ORCM7OBaUuQAX_Tw3bT&_nc_ht=scontent-sin6-2.xx&oh=00_AT_ixOYnBjcUweJ1Spxv_FZbL2OQA0i2i8lr6rzBb9V5IQ&oe=62F953C7">
    {% endif %}
{% endif %}

{{ content }}
